
.bgLoginPage {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/bgLoginPage.jpeg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
  }
  
.imgLogin{
    margin-top: 100px;
    width: 200px;
    height: 200px;
}
  .formHeader{
    color: rgb(226, 226, 226);
    font-size: 50px;
    text-align: center
  }
  .formLabel{
      color: rgb(226, 226, 226);
      font-size: 20px;
      margin-top: 10px;
  }
  .addIncomeBtn{
    float: right;
    font-size: 15px;
    width: 150px;
    margin: 10px;
  }

